<%= render '/refinery/draft_page_message' unless @page.try(:live?) -%>
<%#= render '/refinery/content_page' %>
<div class="one_column">
	<%= render partial:  Globalize.locale.to_s=="ru" ? "/refinery/about_ru" : "/refinery/about_en" %>
</div>