<div class="wrap">
	<div id="container">
		<div class="content_container_big">
			<%= render "/refinery/content_page" %>
		</div>
		<div class="right-column">
			<%= render "/refinery/adds", collection: @categories %>
		</div>
	</div>
</div>
