<% attach.photos.each do |photoholder| %>
	<div class="photoprw" id="photoprw_<%= photoholder.id %>"><%= link_to(image_tag(photoholder.photo.url(:thumb)), photoholder.photo.url(:original), {:target=>"_blank", :download=>"#{@photoholder.photo_file_name}", :style=>"border:none;"}) %> 
		<br />
		<span class="deleteimg" deleteimg="<%= photoholder.id %>">Удалить</span>
	</div>
<% end %>