<li class="<%= cycle('even', 'odd', name: 'li_classes') %>">
<%= link_to Globalize.locale.to_s=="ru" ? category.rutitle : category.entitle, refinery.ships_ships_path({:search=>{:category_id=>category.id}}) %> [<%= (category.ships.select { |one_ship| one_ship.page_status_id == 2 }).size %>]
</li>